{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

  
<body>

   
{% block content %}


  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="https://www.facebook.com/arth.infosoft"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/arth_infosoft_pvt.ltd/?hl=en"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://twitter.com/arthinfosoft"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://in.linkedin.com/company/arth-infosoft-pvt.-ltd."><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="index.html" class="logo">
                          Arth Infosoft
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li><a href="{% url 'index' %}">Home</a></li>
                          {% comment %} <li><a href="meetings.html" class="active">Meetings</a></li> {% endcomment %}
                          <li class="has-sub">
                            <a href="javascript:void(0)">Projects</a>
                            <ul class="sub-menu">
                                <li><a href="{% url 'view_project' %}">Details</a></li>
                                <li><a href="{% url 'view_projectmodule' %}">Modules</a></li>
                            </ul>
                        </li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Meetings</a>
                              <ul class="sub-menu">
                                  <li><a href="{% url 'meetings' %}">Upcoming Meetings</a></li>
                                  <li><a href="{% url 'details' %}">Meeting Details</a></li>
                              </ul>
                          </li>
                          
                          <li><a href="index.html">Contact Us</a></li>
                          <li><a href="index.html">Courses</a></li> 
                          <li><a href="{% url 'login' %}">Login</a></li>
                          <li class="has-sub">
                            <a href="javascript:void(0)">Signup</a>
                            <ul class="sub-menu">
                                <li><a href="{% url 'employee_signup' %}">Employee</a></li>
                                <li><a href="{% url 'hr_signup' %}">Hr</a></li>
                            </ul>
                        </li> 
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Get all details</h6>
          <h2>Online Meetings and Timings</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  
                  <div class="date">
                    <h6>Nov <span>12</span></h6>
                  </div>
                  <a href="details.html"><img src="{% static 'assets/images/single-meeting.jpg' %}" alt=""></a>
                </div>
                <div class="down-content">
                  <a href="details.html"><h4>Online Meeting and Timings</h4></a>
                  <p>Arth Infosoft: C-201, Shivam Complex, Bhuyangdev X Road, Ghatlodiya, Ahmedabad, 380061, IN</p>
                  <br><br>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="hours">
                        <h5>Hours</h5>
                        <p>Monday - Friday:  09:00 AM - 19:00 PM<br>Saturday- Sunday:  Holiday</p>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="location">
                        <h5>Location</h5>
                        <p>C-201, Shivam Complex, 
                        <br>Ahmedabad, GJ, 380061, India</p>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="book now">
                        <h5>Contact Us</h5>
                        <p>+91 9998548080<br>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="share">
                        <h5>Share:</h5>
                        <ul>
                          <li><a href="https://www.facebook.com/arth.infosoft"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="https://www.instagram.com/arth_infosoft_pvt.ltd/?hl=en"><i class="fa fa-instagram"></i></a></li>
                          <li><a href="https://twitter.com/arthinfosoft"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="https://in.linkedin.com/company/arth-infosoft-pvt.-ltd."><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="main-button-red">
                <a href="{% url 'meetings' %}">Back To Meetings List</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2022 Arthinfosoft Pvt. Ltd. All Rights Reserved. 
          
    </div>
  </section>
  {% endblock content %}

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'assets/js/isotope.min.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/lightbox.js' %}"></script>
    <script src="{% static 'assets/js/tabs.js' %}"></script>
    <script src="{% static 'assets/js/video.js' %}"></script>
    <script src="{% static 'assets/js/slick-slider.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>


  </body>

</html>
